<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzsx.Dao.StudentMapper">
    <select  id="selectUserByID" parameterType="int"  resultType="UserAlias">
	select *  from  user1
	</select>

	<insert id="insertStudent" >
		insert  into user1(id,username,userage) values (3,`15779451487`,`18`)
	</insert>


</mapper>